*{
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Noto Sans Devanagari UI', 'Noto Sans Bengali UI', 'Noto Sans Telugu UI', 'Noto Sans Tamil UI', 'Noto Sans Gujarati UI', 'Noto Sans Kannada UI', 'Noto Sans Malayalam UI', 'Noto Sans Gurmukhi UI', Arial, sans-serif;

}

@font-face {
    font-family: 'font1'; 
    src: url('font/Headlines-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'font2'; 
    src: url('font/CologneBold\ W00\ Regular.ttf') format('truetype');
}
body{
    overflow-x: hidden;
}
.mainbody{
    position: relative;
    /* object-fit: cover; */
    /* height: 400px; */
    width: 100%;
    padding: 0 0px;
    box-sizing: border-box;
    /* height: ; */
}
.mainbody > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.offer{
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    width: 100% ;
}
.header-img{
    position: absolute;
    /* height: relative; */
    padding: 12px;
    width: 70px;
}

.moreopt{
    position: absolute;
    right: 0;
    top:0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;    
    width: 200px;
    /* background-color: pink; */
}
.header{
    position: relative;
    height: 64px;
    width: 100%;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
    height: inherit;
}
.options{
    width: 850px;
    display: flex;
    justify-content: space-around;

}

.options > div {
    cursor: pointer;
}

.moreopt > div  {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: white;
}

.img2 , .compact{
    display: none;
}

.vid-overlay{
    color:white;
    position: absolute;
    left: 40px;
    letter-spacing: 1px;
    bottom: 0px;
    z-index: +1;
    /* width: 100px; */
    /* display: flex; */
    align-items: center;
    height: 150px;
}

.hellow{
    display: flex;
    width: 734px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: font2;
    color: white;
    border: solid 2px white;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 15px;
}

.vid1{
    position: relative;
    width: 100vw;
    padding-right: 10px;
    box-sizing: border-box;
}

.mainbody2{
    box-sizing: border-box;
    /* background-color: aqua; */
    padding: 30px;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.mainbody2 >h1{
    /* letter-spacing: 1px; */
    margin-top: 50px;
    line-height: 1;
    font-size: 4.5rem;
    font-weight: 1100;
}

.tagline2{
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.mainbody2 > button{
    font-family:  font1;
    letter-spacing: 4px;
    border-radius: 35px;
    font-size: 20px;
    padding: 20px 40px;
    background-color: #d81520;
    color: white;
    border: none;
    cursor: pointer;
}


.mainbody3{
    padding-top: 10px;
    width: 100%;
    height: 1760px;
    /* background-color: pink; */
    box-sizing: border-box;
}

.card{
    margin: 0 auto;
    height: 848px;
    width: 1200px;
    /* background-color: aqua; */
    display: flex; 
    /* border: 20px solid black; */
    /* box-sizing: border-box  ; */

}
.card{
    margin: 0 auto;
    height: 740px;
    width: 1200px;
    /* background-color: aqua; */
    display: flex; 
    /* border: 20px solid black; */
    /* box-sizing: border-box  ; */

}
.cardpost > img{
    max-width: 100%;
    border-radius: 6px;

}
.card-img{
    width: 600px;
    height: 600px;
    background-color: blue;
    /* overflow: hidden; */
}

.cardpost-body{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
}
.cardpost-body > p {
    padding-top: 5px;
}

.card-img11{
    width: 600px;
    height: 200px;
    background-color: blue;
    /* overflow: hidden; */
}

.card-img > img {
    max-width: 100%;
    /* max-height: 100%; */


}
.card-info{
    width: 600px;
    height: inherit;
    /* background-color: rgb(154, 153, 153); */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    box-sizing: border-box;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 5px 5px 10px grey;

}
br{
    padding: 10px;
}
.card-info-header{
    font-family: font1;
    font-size: 90px;
    width: 100%;
    height: 200px;
    /* background-color: orange ;  */
    display: flex;
    justify-content: center;
    align-items: end;
}
.card-info-header2{
    width: 100%;
    height: 50px;
    padding-left: 50px;
    font-weight: lighter;
    font-size: 20px;
    /* background-color: purple ;  */
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.card-info-button {
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px 18px;
    height: 60px;
    margin-top: 26px;
    margin-left: 42px;
    width: 136px;
    border: black 2px solid;
    border-radius: 10px;
    background-color: #fff;
    color: #000; 
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
}

.card-info-button22 {
    background-color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0px 18px;
    height: 60px;
    margin-top: 26px;
    margin-left: 82px;
    width: 136px;
    border: black 2px solid;
    border-radius: 10px;
    background-color: #fff;
    color: #000; 
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
}

.card-info-button:hover {
    background-color: #000;
    color: #fff;
    
}


.mainbody4{
    width: 100%;
    height: 500px;
    background-image: url(homepage2.png);
    background-size: cover;
    margin-bottom: 50px;
}

.mainbody5{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainbody5-header{
    width: 60%;
    display: flex;
    font-family: font2;
    letter-spacing: 3px;

}


.left , .right{

    display: flex;
    font-family: font1;
    letter-spacing: 3px;
    font-size: 60px;
}

.left{
    width: 45%;
    justify-content: end;
    padding-right: 10px;
    color: grey;
}

.right{
    width: 55%;
    font-weight: bold;
}


.mainbody5-body{
    width: 100%;
    height: 400px;
    /* background-color: aquamarine; */
}


.cardd-container {
    display: flex;
    width: 100vw;
    overflow: scroll;
    justify-content: space-around;
    padding: 15px;
}

.cardd {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 300px;
    height: 400px;
    padding: 10px;
    flex-shrink: 0;
    /* border: 1px solid #ccc; */
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
/* .p2m6-card{

} */

.cardd img {
    width: 100%;
    aspect-ratio: 1/1; /* Ensures the image remains square */
    transition: transform 0.3s ease-in-out;
}

.cardd:hover {
    transform: scale(1.05);
}

.cardd:hover img {
    transform: scale(1.05);
}

.cardd p {
    padding-top: 10px;
    text-align: left;
}
.cardd h2{
    padding-top: 10px;
}



.mainbody7{
    box-sizing: border-box;
    /* background-color: aqua; */
    /* padding: 30px; */
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.mainbody7 >h1{
    /* letter-spacing: 1px; */
    margin-top: 10px;
    line-height: 1;
    font-size: 4.5rem;
    font-weight: 1100;
}

.tagline2{
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.mainbody7 > button{
    font-family:  font1;
    letter-spacing: 4px;
    border-radius: 35px;
    font-size: 20px;
    padding: 20px 40px;
    background-color: #d81520;
    color: white;
    border: none;
    cursor: pointer;
}

.mainbody8{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 120px;
    margin-bottom:80px;
}

.mainbody8 img{
    width: 100%;
}

.mainbody9{
    width: 100%;
    height: 300px;
    background-color: rgba(159, 141, 154, 0.386);
    overflow: hidden;

}   
.mainbody9 img{
    margin: 0px;
}

.mb9-back{
    width:100vw;
    position: relative;
    display: flex;
    overflow: hidden;
}

.forhelp{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    max-width: 100%;
    width: 100vw;
    height: inherit;
    top: 10%;

}

.forhelp > p  {
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
    padding-top: 15px;
}

.forhelp > h1  {
    font-family: font2;
    padding-top: 20px;
    font-size: 28px;
}

.contact-icons{
    padding-top: 25px;
    letter-spacing: 10px;
    font-size: 25px;

}

.mainbody10{
    color: white;
    box-sizing: border-box;
    height:500px;
    background-color: black;
    padding: 100px 25px;
}

.mainbody10-cardd-container{
    display: flex;
    justify-content: space-between;
}

.mainbody10-cardd > h1 {
    padding-bottom: 10px;
    font-size: 18px;
}
.mainbody10-cardd{
    letter-spacing: 2px;
}

.mainbody10-cardd > p {

    padding-top: 10px;
}

.mainbody10-cardd1 > h1 {
    padding-bottom: 10px;
    font-size: 18px;
}

.mainbody10-cardd1 > p  {
    display: flex;

}

.mainbody10-cardd1 > p > i{
    padding-top: 20px;
    font-size: 25px;
    padding-right: 15px;

}

.mb10-logo{

    /* position: absolute; */
    /* height: relative; */
    margin-top: 32px;
    margin-bottom: 16px;
    width: 80px;
    padding: 2px;
    height: 39px;
    background-color:white;

}

.address{
    padding-top: 12px;
}

.mainbody10-cardd p:hover,
.mainbody10-cardd1 p:hover {
    cursor: pointer;
    color: aqua;
}

.p2m2{
    margin-bottom: 40px;
}

.p2m6-cardd-container{
    
    display: flex;
    overflow: scroll;
    height: 400px;
    width: 100vw;
    /* margin-left: 20px; */
    margin-top: 15px;
    padding-top: 5px;
    /* padding :4px; */
    /* background-color: aqua; */
    align-items: center;
}
.p2m6-cardd-container::-webkit-scrollbar{
    display: none;
}
.p2m6-cardd-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrollbar */
    height: 400px; /* Set the height */
    width: 100%; /* Adjust width as needed */
    margin-top: 15px;
    padding-top: 5px;
}

.p2m6-cardd {
    flex-shrink: 0; /* Prevent flex items from shrinking */
    margin-right: 8px; /* Adjust margin between items */
    border-radius: 18px;
    background-color: rebeccapurple;
    padding: 0 12px;
}

.cardd-container11::-webkit-scrollbar{
    display: none;
}

.cardpost{
    overflow: hidden;
}
.cardpost img {
    width: 100%; 
    transition: transform 0.3s ease;
    overflow: hidden; 
}

.cardpost:hover img {
    /* border: 80px solid red; */
    transform: scale(1.05); 
}

.fullscreen-image {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    opacity: 1;
    animation: hideImage 4s  forwards;
}

@keyframes hideImage {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        visibility: hidden;
    }
}

.fullscreen-image > img{
    max-width: 30%;
}


/* (min-width:768px) and */
@media  (max-width:991px){


    .mainbody{

        display:flex;
        margin: 0 auto;
        height: 700px ;   
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        overflow:hidden;
        min-width: 100%;
    }

    .img1{
        display: none;
    }
    .img2{
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .menu{
        display: none;
    }
    .header-img{
        position: absolute;
        left: calc(50% - 85px / 2); 
        padding: 12px;
        width: 80px;
    }
    .compact{
        display: flex;
        position: absolute;
        /* border: 2px black solid */
        margin: 18px ;
        /* padding: 12px; */
        /* width: 90px; */
    }
    .more{
        width: 24px;
    }

    
    
}